html {
	box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
:root {
    /* Font sizes */
	--font16: 1rem;
	--font21: 1.313rem;
	--font24: 1.5rem;
	--font28: 1.75rem;
	--font36: 2.25rem;
	--font46: 2.875rem;
	--font56: 3.5rem;
}
body {
	background-color: whitesmoke;
    color: black;
	/* font-family: ; */
}


img {
	width: 100%;
	display: block;
}

a {
    color: black;
}
a:hover {
    color: rgb(106, 96, 129);
}

li {
    list-style-type: none;
}

/* Header Section */
header {
    width: 100%;
}
.header-section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 20px;
}

section {
    width: 90%;
    margin: 110px auto;

}

/* title section */
.personal-links-container {
    display: flex;
}
.personal-link img {
    width: 35px;
}
.title-section {
    display: flex;
}
.title-text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu {
    display: none;
}

/* Project Section */
.project-section-title {
    margin-bottom: 40px;
}
.project {
    display: flex;
    gap: 50px;
}

.project-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* About Me Section */
.about-section {
    display: flex;
    justify-content: center;
}
.about-me-title {
    width: 40%;
}
.about-me-text {
    width: 60%;

}

.mobile-image {
    display: none;
}


/* Contact Section */
.connect-section {
    display: flex;
    justify-content: center;
}
.connect-info {
    width: 50%;
}
.contact-form {
    width: 50%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: #524d5f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #545b58;
  }  
  

  /* Media Queries */
  @media screen and (max-width: 600px) {
    /* title section */
    section {
        flex-direction: column;
    }

    /* header */
    .header-links {
        background-color: white;
        width: 100px;
        border-radius: 5px;
        text-align: center;

        flex-direction: column;
        align-items: center;
        padding-left: 10px;

        transition: 0.5s;

        position: fixed;
        left: 100%;
        top: 70px;
        
        /* left: 50px; */
        padding-right: 10px;
    }
    .header-links.active {
        left: 55%;
    }

    .header-links a {
        text-decoration: none;
    }

    .mobile-menu {
        display: block;
    }

    /* title section */
    .title-section {
        align-items: center;
        gap: 20px;
    }
    .title-text-container,
    .title-img {
        width: 100%;
    }
   

    /* project section */
    .project {
        flex-direction: column;
    }
    .project-img,
    .project-text {
        width: 100%;
    }

    /* About me section */
    .mobile-image {
        display: block;
    }

    /* Connect section */
    .connect-section {
        gap: 20px;
    }

    .connect-info,
    .contact-form {
        width: 100%;
    }

  }