html {
	box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
:root {
    /* colors */
    --background-color: whitesmoke;
    --color1: #9A638A;
    --color2: #D6A390;
    --color3: #D9B0AE;
    --color4: #5E3F3A;
    --color5: #FFFCF3;
    --color6: #F4E8FE;
    /* Font sizes */
	--font16: 1rem;
	--font21: 1.313rem;
	--font24: 1.5rem;
	--font28: 1.75rem;
	--font36: 2.25rem;
	--font46: 2.875rem;
	--font56: 3.5rem;
}
body {
	background-color: var(--background-color);
    color: black;
	/* font-family: ; */
}

h2, h3 {
    margin: 0;
}

img {
	width: 100%;
	display: block;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px 0px;
}
a:hover {
    color: rgb(106, 96, 129);
}

li {
    list-style-type: none;
}

/* wrapper */
.wrapper {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}


/* Header Nav Section */
header {
    width: 100%;
}
.header-section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 20px;
    padding-left: 0px;
}

.mobile-menu {
    display: none;
}

/* for all sections */
section {
    padding: 100px 0px;
    width: 100%;
}

/* title section */
.title-section {
    background-color: var(--color3);
}
.title-section .wrapper {
     display: flex;
}
.title-text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.personal-links-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-button {
    border-radius: 15px;
    width: 120px;
    height: 35px;
    border: none;
}

/* hover or click button will make these pop up */
.personal-link svg {
    width: 30px;
}

.title-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Project Section */
.project-section-title {
    margin-bottom: 40px;
}
.project {
    border: 1px grey solid;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 50px;
}

.project-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* About Me Section */
.about-section {
    background-color: var(--color3);
}

.about-section .wrapper {
    display: flex;
    justify-content: center;
} 
.about-me-title {
    width: 40%;
}
.about-me-text {
    width: 60%;

}

.mobile-image {
    display: none;
}


/* Contact Section */
.connect-section .wrapper {
    display: flex;
    justify-content: center;
}
.connect-info {
    width: 50%;
}
.contact-form {
    width: 50%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: var(--color1);
    color: white;
    padding: 12px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: var(--color3);
    color: black;
  }  
  

  /* Media Queries */
  @media screen and (max-width: 600px) {
    /* all sections */
    .wrapper {
        width: 90%;
    }
    section .wrapper {
        flex-direction: column;
    }
    h2, h3 {
        text-align: center;
    }

    /* header */
    .header-links-container {
        position: relative;
    }
    .header-links {
        width: 150px;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        text-align: center;

        flex-direction: column;
        align-items: center;
        
        position: absolute;
        top: -600%;
        right: 10px;
        transition: 0.5s;
    }

    .header-links.active {
        top: 15px;
    }

    

    .mobile-menu {
        display: block;
    }

    /* title section */
    .title-section .wrapper {
        align-items: center;
        gap: 20px;
    }
    
    .title-img {
        width: 100%;
    }
    .title-text-container {
        width: 100%;
        align-items: center;
        text-align: center;
    }
   

    /* project section */
    .project {
        flex-direction: column;
    }
    .project-img,
    .project-text {
        width: 100%;
    }

    /* About me section */
    .about-section .wrapper {
        flex-direction: column;
    }
    .about-me-title,
    .about-me-text {
        width: 100%;
    }
    .mobile-image {
        display: block;
        margin-top: 20px;
    }

    /* Connect section */
    .connect-section .wrapper {
        gap: 20px;
    }

    .connect-info,
    .contact-form {
        width: 100%;
    }

  }